
    {%- comment -%} Default Styles {%- endcomment -%}
    {%- assign card_style  = '' -%}
    {%- assign text_style  = 'text-themed' -%}
    {%- assign badge_style = 'badge-dark' -%}

    {%- comment -%} Update Styles {%- endcomment -%}
    {%- if post.style == 'fill' -%}
    {%- assign card_style = post.color | prepend: 'bg-' -%}
    {%- if post.color != 'light' -%}
    {%- assign text_style  = 'text-white' -%}
    {%- assign badge_style = 'badge-light text-' -%}
    {%- assign badge_style = badge_style | append: post.color -%}
    {%- endif -%}
    {%- else -%}
    {%- assign card_style = post.color | prepend: 'border border-' -%}
    {%- if post.color -%}
    {%- assign badge_style =  post.color | prepend: 'badge-' -%}
    {%- endif -%}
    {%- endif -%}

    {%- comment -%} Determine Post URL {%- endcomment -%}
    {%- if post.external_url -%}
    {%- assign post_url = post.external_url -%}
    {%- else -%}
    {%- assign post_url = post.url | relative_url -%}
    {%- endif -%}
                                            
    <div class="my-3 wow animated fadeIn" data-wow-delay=".08s">
        {%- if post.external_url and site.open_new_tab -%}
        <a href="{{ post_url }}" class="show card {{ card_style }}" target="_blank">
        {%- else -%}
        <a href="{{ post_url }}" class="show card {{ card_style }}" >
        {%- endif -%}
            <div class="card-body {{ text_style }}" style="padding: 0px; ">
                <div row>
                    {%- if post.image -%}
                    <div col style="max-width: 8%; min-width: 90px">
                        <img id="{{ post_url }}" class="card-img-top" src="{{ post.image }}" alt="Post Image" style="margin: auto; float: left; padding-right: 12px;">
                    </div>
                    {%- endif -%}
                    <div col style="padding-left:10px">
                        <div row>
                            <p class="card-text">
                        <h5 class="card-title mb-2" style="font-size: calc(clamp(1.1em, 1.8em - 0.6vw, 3em)); padding-bottom: 0;">{{ post.title }}</h5>
                                {%- if post.description -%}
                                {{ post.description }}
                                {%- else -%}
                                {{ post.content | truncatewords: 25, "<small><i>  read more...</i></small>" }}
                                {%- endif -%}
                            </p>
                        </div>
                            <div class="card-footer {{ text_style }}" style="float:left; padding: 10px; width: 100%">
                                <div row>
                                    <div col style="max-width: 50%; float:left">
                                        {{ post.location }}
                                    </div>
                                    <div col style="min-width: 50%; float: right">
                                        <div col style="min-width: 30%; float: right">
                                            {{ post.date | date_to_long_string }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </a>
    </div>