
<div class="container-fluid" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 25%));">
    {% for post in site.posts %}
        {% if post.tags contains 'Shows' %}
        {% else %}
            {%- assign post_summary = post.description | default: post.content | strip_html | normalize_whitespace -%}
            {%- assign post_tag_text = post.tags | join: ' ' -%}
            {%- assign post_project_text = post.project | default: '' -%}
            <div class="col pl-1 pr-1 pb-1 pt-1 blog-post-item"
                 data-post-tags="{{ post.tags | join: '|' | downcase | escape }}"
                 data-post-project="{{ post_project_text | downcase | escape }}"
                 data-post-search="{{ post.title | append: ' ' | append: post_summary | append: ' ' | append: post_tag_text | append: ' ' | append: post_project_text | downcase | escape }}">
                {% include blog/post-card.html %}
            </div>
        {% endif %}
    {% endfor %}
</div>