
    {%- comment -%} Default Styles {%- endcomment -%}
    {%- assign card_style  = '' -%}
    {%- assign text_style  = 'text-themed' -%}
    {%- assign badge_style = 'badge-dark' -%}

    {%- comment -%} Update Styles {%- endcomment -%}
    {%- if post.style == 'fill' -%}
    {%- assign card_style = post.color | prepend: 'bg-' -%}
    {%- if post.color != 'light' -%}
    {%- assign text_style  = 'text-white' -%}
    {%- assign badge_style = 'badge-light text-' -%}
    {%- assign badge_style = badge_style | append: post.color -%}
    {%- endif -%}
    {%- else -%}
    {%- assign card_style = post.color | prepend: 'border border-' -%}
    {%- if post.color -%}
    {%- assign badge_style =  post.color | prepend: 'badge-' -%}
    {%- endif -%}
    {%- endif -%}

    {%- comment -%} Determine Post URL {%- endcomment -%}
    {%- if post.external_url -%}
    {%- assign post_url = post.external_url -%}
    {%- else -%}
    {%- assign post_url = post.url | relative_url -%}
    {%- endif -%}
    <div class="my-3 wow animated fadeIn" data-wow-delay=".08s">
        {%- if post.external_url and site.open_new_tab -%}
        <a href="{{ post_url }}" class="post card {{ card_style }}" target="_blank">
            {%- else -%}
            <a href="{{ post_url }}" class="post card {{ card_style }}">
                {%- endif -%}
                <div class="card-body {{ text_style }}" style="padding: 3px; ">
                    <h5 class="card-title mb-2" style="font-size: calc(clamp(1.1em, 1.8em - 0.6vw, 3em));">{{ post.title }}</h5>
                    <p class="card-text">
                        {% for tag in post.tags %}
                        <span class="badge {{ badge_style }}" style="font-size: calc(clamp(0.1em, 1.6em - 0.6vw, 1em)); padding: calc(clamp(0.06em, 0.1em - 0.02vw, 0.08em)) calc(0.4em - 0.1vw); ">{{ tag }}</span>
                        {% endfor %}
                    </p>
                    {%- if post.image -%}
                    <img id="beans" class="card-img-top" src="{{ post.image }}" alt="Post Image" style="max-width: 100%; height: auto; display: block; width: 70%; margin: auto; ">
                    {%- endif -%}
                    <p class="card-text pt-3">
                        {%- if post.description -%}
                        {{ post.description }}
                        {%- else -%}
                        {{ post.content | truncatewords: 25, "<small><i>  read more...</i></small>" }}
                        {%- endif -%}
                    </p>
                </div>
                <div class="card-footer {{ text_style }}" style="padding: 12px; ">
                    {{ post.date | date_to_long_string }}
                </div>
            </a>
    </div>