---
layout: default
title: Projects
permalink: /projects/
weight: 1
remote_projects: 
  - git-for-wizards
  - arduino-visitor-counter
---

<div class="container-fluid mt-5" style="max-width:85%">
    <div style="max-width: 1fr">
        <h2>Highlighted Projects:</h2>
        <div class="row">
            <div class="container-fluid" style="display: grid; grid-template-columns: repeat(minmax(200px, 1fr)); grid-auto-flow:column; overflow-x: auto; ">
                {% for project in site.projects reversed %}
                    {% if project.tags contains 'Highlight' %}
                        <div class="col pl-1 pr-1" style="min-width: 200px">
                            {% include projects/project-card.html %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <br>
    <hr style="border: none; border-bottom: 1px solid; border-color: dimgray;">
</div>

{% include projects/index.html %}